<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:fragement="head(title)">
    <!--
          作者：杨德威
          时间：2020-07-27
          描述：个人博客详情页
           -->
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!--
        viewport：移动端屏幕用来显示网页的那块区域
        width:可视区域的宽度，值可为数字或关键词device-width
        initial-scale=1.0 ：默认打开浏览器时的缩放级别. 1.0表示无任何缩放
    -->
    <title th:text="${title}">Blog</title>

    <link href="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
          th:href="@{https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.min.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/typo.css" th:href="@{/css/typo.css}"/>
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/css/me.css}"/>
    <link rel="stylesheet" href="../static/lib/prism/prism.css" th:href="@{/lib/prism/prism.css}"/>
    <link rel="stylesheet" href="../static/css/animate.css" th:href="@{/css/animate.css}"/>
    <link rel="stylesheet" href="../static/lib/tocbot/tocbot.css" th:href="@{/lib/tocbot/tocbot.css}">

</head>
<body>
<!--
    描述：顶部导航
    ui：固定格式
    inverted：使部件颜色和底部颜色相反
    attached:使部件边角部分变成直角
    segment：片段的效果

-->
<nav class="ui  inverted attached segment m-panned-tb-mini " th:fragment="menu(n)">
    <div class="ui  container">
        <!--
            secondary:改变一些效果。去除边框...
            menu:菜单效果
        -->
        <div class="ui inverted  stackable secondary  menu animate__animated animate__fadeInLeft">
            <!--item 菜单样式-->
            <h2 class="ui teal header item">Study</h2>
            <a href="#" th:href="@{/index}" class="m-item item m-mobile-hide" th:classappend="${n=='首页'}?'active'"><i
                    class=" home icon"></i>首页</a>
            <a href="#" th:href="@{/types/-1}" class="m-item item m-mobile-hide" th:classappend="${n=='分类'}?'active'"><i
                    class=" idea icon"></i>分类</a>
            <a href="#" th:href="@{/tags/-1}" class="m-item item m-mobile-hide" th:classappend="${n=='标签'}?'active'"><i
                    class=" clone icon"></i>标签</a>
            <a href="#" th:href="@{/archives}" class="m-item item m-mobile-hide" th:classappend="${n=='归档'}?'active'"><i
                    class=" tags icon"></i>归档</a>
            <a href="#" th:href="@{/about}" class="m-item item m-mobile-hide" th:classappend="${n=='关于我'}?'active'"><i
                    class=" info icon"></i>关于我</a>
            <div class="right  m-item item m-mobile-hide">
                <form th:action="@{/search}" target="_blank" name="search" method="get">
                    <div class="ui icon inverted  transparent input">
                        <input type="text" name="query" placeholder="search" th:value="${query}"/>
                        <i onclick="document.forms['search'].submit()" class="search link icon"></i>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <a href="#" id="i1" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--
    作者：ydw
    时间：2020-07-27
    描述：底部footer
    center aligned: 居中
-->
<footer th:fragment="footer" class="ui inverted vertical  center aligned segment m-panned-tb-massive">
    <div class="ui  container ">
        <!--

            描述：类似bootstrap栅格布局 将模块分为16块
                 divided:分割
        -->

        <div class="ui inverted stackable divided grid">
            <div class="three wide column">
                <div class="ui inverted link list">
                    <div class="item">
                        <!--
                        rounded image: 图片是圆角的
                        -->
                        <img src="../static/img/weixin.jpg" th:src="@{/img/weixin.jpg}" class="ui rounded image" alt=""
                             style="width: 120px;"/>
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">最新博客</h4>
                <div id="newBlog-container">
                    <div class="ui inverted link list" th:fragment="newblogList">
                        <a href="#" class="item" th:href="@{/blog/{id}(id=${blog.id})}" th:each="blog : ${newblogs}"
                           th:text="${blog.title}" target="_blank">用户背景</a>
                    </div>
                </div>
            </div>

            <div class="three wide column">
                <h4 class="ui inverted header m-opacity-mini">联系我</h4>
                <div class="ui inverted link list">
                    <a  class="item">QQ:<span th:text="#{index.qq}"></span></a>
                    <a  class="item">tel:<span th:text="#{index.tel}"></span></a>
                    <a  class="item">email:<span th:text="#{index.email}"></span></a>
                </div>
            </div>

            <div class="seven wide column">
                <h4 class="ui inverted header m-opacity-mini">YangDewei</h4>
                <p class="m-text-lined m-opacity-tiny m-text-spaced">我的最新博客,分享学习经历~个人生活~和编程相关的任何内容。</p>

            </div>
        </div>

    </div>
    <!--分割线-->
    <div class="ui inverted section divider"></div>
    <p class="m-text-lined m-opacity-tiny m-text-spaced">Copyright 2019-2020  Designed by YangDewei</p>
</footer>


<!--引入script-->
<th:block th:fragment="script">
    <!--	<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>-->
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.scrollto@2.1.2/jquery.scrollTo.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/semantic-ui/2.4.1/semantic.js"></script>
    <script src="../static/lib/prism/prism.js" th:src="@{/lib/prism/prism.js}"></script>
    <script src="../static/lib/tocbot/tocbot.js" th:src="@{/lib/tocbot/tocbot.js}"></script>
    <script src="../static/lib/qrcode/qrcode.js" th:src="@{/lib/qrcode/qrcode.js}"></script>
    <script src="../static/lib/waypoints/jquery.waypoints.min.js"
            th:src="@{/lib/waypoints/jquery.waypoints.min.js}"></script>
    <script src="../static/lib/waypoints/shotcuts/sticky.min.js"
            th:src="@{/lib/waypoints/shotcuts/sticky.min.js}"></script>

    <script>
        $('#newBlog-container').load(/*[[@{/footer/newblog}]]*/"/footer/newblog");
    </script>
</th:block>
</body>
</html>